{% if site.disqus %}
<hr />
<div class="comments">
  <div id="disqus_thread"></div>
  <script async defer src='https://{{ site.disqus }}.disqus.com/embed.js' onerror="disqusHandler();"></script>
  <script type="text/javascript">
    var disqusHandler = (function (w) {
      var methods = w.pr.methods;

      /* methods.docReady(function () {
        loadDisqusScript()
      });

      function loadDisqusScript() {
        methods.getAjax('https://{{ site.disqus }}.disqus.com/embed.js', null, function (e) {
          addDisqusErrorIfNotPresent();
          // Parse any emoji inside error
          methods.parseTextForEmojis(document.getElementById('comment__error'));
        })
      } */

      function addDisqusErrorIfNotPresent() {
        var comments = methods.selectElementByClassName('.comments');
        /* Add only for the 1st time */
        if (!methods.selectElementById('comment__error')) {
          /* Add error to .comments */
          comments.appendChild(createDisqusError());
          /* Parse any emoji inside error */
          methods.parseTextForEmojis(document.getElementById('comment__error'));
        }
      }

      function createDisqusError() {
        var err = document.createElement('div');
        err.id = 'comment__error';
        window.pr.methods.addClass('alert', err);
        err.innerHTML = 'اگر این پیام رو میبینین، به این معنیه که اسکریپت Disqus براتون لود نشده. سرویس Disqus توی ایران فیلتر شده!! <strong>لطفا وی پی ان تون رو روشن کنین و صفحه فعلی رو ریفرش کنین.</strong> :پی';

        return err;
      }

      return addDisqusErrorIfNotPresent;

    })(window);
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
