<footer class="site__footer clearfix">

  <div class="site__footer__brand" onclick="window.pr.methods.goToTop()">
    <img class="img-block" src="{{ site.baseurl }}/assets/images/pr.svg" alt="PR">
  </div>

  <div class="container clearfix">

    <nav class="pull-right site__footer__menu">
      <ul class="list--unstyled list--inline site__footer__list">
        <li>
          <a target="_blank" href="{{ site.github }}">
            <i class="icon pricon-github"></i>
            گیتهاب
          </a>
        </li>
        <li>
          <a target="_blank" href="{{ site.twitter }}">
            <i class="icon pricon-twitter"></i>
            توییتر
          </a>
        </li>
      </ul>
    </nav>

    <div class="pull-left text--ltr site__footer__copyright">Made with ❦ @ <strong>PullRequest</strong></div>

  </div>
</footer>
