<header class="site__header container">

  <figure class="site__header__brand">
    <a href="{{ site.url }}">
      <img src="{{ site.baseurl }}/assets/images/pr.svg" alt="PR">
    </a>
  </figure>

  <nav class="site__header__nav">

    <ul class="list--unstyled list--inline header__list text--center">
      {% for pg in site.pages %}
      {% if pg.showup_in_nav %}
      <li>
        <a {% if page.label == pg.label %} class="active" {% endif %} href="{{ pg.permalink }}">{{ pg.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

  </nav>

</header>
