<header class="site__header container">

  <figure class="site__header__brand">
    <a href="{{ site.url }}">
      <img src="{{ site.baseurl }}/assets/images/pr.svg" alt="PR">
    </a>
  </figure>

  <nav class="site__header__nav">

    <ul class="list--unstyled list--inline header__list">
      <li><a href="#">راهنمای انتشار مطلب</a></li>
      <li><a href="#">خانه</a></li>
      <li><a href="#">نویسندگان</a></li>
      <li><a href="#">پول ریکوئست چیست</a></li>
      <li><a href="/about">درباره ما</a></li>
    </ul>

  </nav>

</header>
