.site__footer {

  padding: 1em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .icon {
    margin-left: .5em;
  }

  &__list {
    margin: 0;
    padding: 0;

    @include tablet() {
      margin: 1em auto;
    }

    a {
      color: $black;
    }
  }

  &__copyright,
  &__menu {
    @include tablet() {
      float: none;
      display: block;
      text-align: center;
    }
  }

  &__brand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3em;
    height: 3em;
    background-color: $lightGray;
    border-radius: 50%;
    padding: .5em;
    cursor: pointer;
    border: 1px solid $border-color;
  }

}
