
.post + .post {
  margin-top: 1.5em;

  @include tablet() {
    margin-top: 3em;
  }

}

.post__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  @include tablet() {
    flex-direction: column;
  }
}

.post__figure {
  width: $post-figure-size;
  max-width: $post-figure-size;
  flex-basis: $post-figure-size;
  margin: 0;
  flex: 0 0 auto;

  @include tablet() {
    display: none;
  }

  img {
    border: 1px solid $lightGray;
    width: 105px;
    height: 105px;
  }
}

.post__date {
  margin-top: 1em;
  display: block;
  text-align: center;
  font-size: .85em;
  color: $gray;

  @include tablet() {
    margin-top: 0;
  }

}

.post__excerpt {
  @include tablet() {
    display: none;
  }
}

.post__entry {
  padding-right: 1.5em;

  img {
    @extend %responsive-image;
    @extend %center-block;
  }

  @include tablet() {
    padding-right: 0;
  }

  &--single {
    padding-right: 0;
    line-height: 2;
    text-align: justify;
  }
}

.post__title {
  margin-top: 0;
  margin-bottom: 0;
  &--single {
    @include tablet() {
      font-size: 1.5em;
    }
  }
}

.post__info__figure {
  max-width: 3em;
  max-height: 3em;
  width: 3em;
  height: 3em;
  border: 1px solid $lightGray;
}

.post__figure--mobile {
  margin-top: 1em;
  display: none;

  @include tablet() {
    display: block;
  }

  .post__info {
    margin: 0 auto;
    font-size: .85em;
    padding-left: 1em;
  }
}

.post__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 2em;
}

.post__author {
  margin-right: 1em;
}
