.post {
  @extend .img-rounded;
  transition: 50ms linear;

  // &:not(.post--single):hover {
  //   box-shadow: inset 0 0 1em 0 $lightGray;
  // }

  &+.post {
    margin-top: 1.5em;
    @include tablet() {
      margin-top: 3em;
    }
  }
}

.post__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  // cursor: pointer;
  @include tablet() {
    flex-direction: column;
  }
}

.post__figure {
  width: $post-figure-size;
  max-width: $post-figure-size;
  flex-basis: $post-figure-size;
  margin: 0;
  flex: 0 0 auto;
  @include tablet() {
    display: none;
  }
  img {
    border: 1px solid $lightGray;
    width: 105px;
    height: 105px;
  }
}

.post__date {
  margin-top: 1em;
  display: block;
  text-align: center;
  font-size: .85em;
  color: $gray;
  @include tablet() {
    margin-top: 0;
  }
}

.post__excerpt {
  @include tablet() {
    display: none;
  }
}

.post__entry {
  padding-right: 1.5em;
  // Article Styles
  img {
    @extend %responsive-image;
    @extend %center-block;
  }
  @include tablet() {
    padding-right: 0;
    width: 100%;
  }
  &--single {
    padding-right: 0;
    line-height: 2;
    text-align: right;
    margin-bottom: 3em;
    strong,
    b {
      color: $bold-color;
    }
    em,
    i {
      &:after,
      &:before {
        font-family: monospace;
        display: inline-block;
        font-size: 1.5em;
        vertical-align: middle;
      }
      &:before {
        content: '«';
      }
      &:after {
        content: '»';
      }
    }
    ul,
    ol {
      padding-right: 2em;
    }
    a {
      display: inline-block;
      white-space: nowrap;
      @include mobile() {
        white-space: normal;
      }
    }
    blockquote {
      margin-right: 0;
      margin-left: 0;
      padding: .5em 2em .5em 1em;
      color: $bold-color;
      background-color: rgba($bold-color, .05);
      border-right: .325em solid currentColor;
      >p {
        margin: 0;
      }
    }
    code {
      direction: ltr;
      text-align: left;
      display: inline-block;
      color: $code-color;
      background-color: rgba($code-color, .05);
      line-height: 1;
      padding: .25em;
      border-radius: .25em;
    }
  }
}

.post__title {
  margin-top: 0;
  margin-bottom: 0;
  &--single {
    @include tablet() {
      font-size: 1.5em;
    }
  }
}

.post__info__figure {
  max-width: 3em;
  max-height: 3em;
  width: 3em;
  height: 3em;
  border: 1px solid $lightGray;
}

.post__figure--mobile {
  margin-top: 1em;
  display: none;
  @include tablet() {
    display: block;
  }
  .post__info {
    margin: 0 auto;
    font-size: .85em;
    padding-left: 1em;
  }
}

.post__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 2em;
}

.post__author {
  margin-right: 1em;
  white-space: nowrap; // Not break on mobile
}

.post__share {
  position: relative;
}

.post__tags {
  position: relative;
  @include tablet() {
    display: none;
  }
  .icon {
    position: absolute;
    right: 0;
    top: .32em; // 5px
    color: $code-color;
  }
  >ul {
    padding-right: 1.5em;
  }
  li {
    font-size: .85em;
    color: $gray;
    font-style: italic;
  }
  &--single {
    position: absolute;
    right: 0;
    top: 0;
    >ul {
      margin: 0;
    }
  }
}
