
@font-face {
  font-family: 'vazir';
  src: url('/assets/fonts/vazir.woff') format('woff')
}

html {
  font-size: 1rem;
}

body {
	background: $white;
  font-size: 1em;
  line-height: 1.4;
  font-family: $font-primary;
  color: $darkGray;
  direction: rtl;
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 1em;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 2em;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

p {
  margin: 1em 0;
}
