
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$border-color: #ddd;

// Text Formatting
$bold-color: #d2691e;
// $code-color: #268BD2;
$code-color: #c226d2;
// Font stacks
$font-primary: vazir, Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// breakpoints
$b-mobile: 30em;
$b-tablet: 45em;

// Container
$container-max-width: $b-tablet;

// Header
$header-height: 5em;
$brand-size: $header-height;
$footer-height: 54px;
$footer-height-mobile: 108px;
// Post
$post-figure-size: 15%;
