---
layout: default
---

<article class="text--center author--single">

  <span class="lazyimage">
    <img class=" img-rounded author--single__figure" src="{{ page.avatar }}">
  </span>

  <h1 class="post__title">{{ page.name }}</h1>

  {% if page.bio %}
  <div class="author--single__bio text--center text--ltr">
    {{ page.bio }}
  </div>
  {% endif %}

  <hr />

  <h3 class="text--right">مطالب {{ page.name }} در {{ site.name }}</h3>

  <ul class="list--unstyled text--right">
    {% for post in site.posts %}
      {% if post.author == page.unique_id %}
        <li>
          <span class="pointer pointer--circular"></span>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</article>
