---
layout: default
---

{% assign author = site.data.authors[page.author] %}

{% assign tweet_url = "https://twitter.com/home?status=" | append: site.url | append: page.url %}

{% assign telegram_url = "https://telegram.me/share/url?url=" | append: site.url | append: page.url %}

<article class="post post--single">
  <h1 class="post__title post__title--single">{{ page.title }}</h1>

  <div class="post__info">
    <span>
      <span class="lazyimage">
        <img
          onload="window.pr.methods.addClass('img-loaded', this.parentNode)"
          onerror="window.pr.methods.addClass('img-error', this)" src="{{ author.avatar }}"
          alt="{{ author.fa_name }}"
          class="img-rounded post__info__figure inline--middle"
        >
      </span>
      <span class="inline--middle post__author"><a href="{{ site.url }}/authors/{{ author.unique_id }}">{{ author.fa_name }}</a></span>
    </span>
    <small><em>{{ page.date | date: "%-d / %-m / %Y" }}</em></small>
  </div>

  <div class="post__share text--left">
    <ul class="list--unstyled list--inline">
      <li><a class="button button--with-icon" target="_blank" href="{{ tweet_url }}">
        <i class="icon pricon-twitter"></i>
        توییتر
      </a></li>
      <li><a class="button button--with-icon" target="_blank" href="{{ telegram_url }}">
        <i class="icon pricon-telegram"></i>
        تلگرام
      </a></li>
    </ul>
    {% if page.tags.size > 0 %}
      <nav class="post__tags post__tags--single">
        <i class="icon pricon-tag"></i>
        <ul class="list--unstyled list--inline">
        {% for tag in page.tags %}
          <li>{{ tag }}</li>
        {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>

  <div class="post__entry post__entry--single">
    {{ content }}
  </div>

  <div class="post__share text--center">
    <ul class="list--unstyled list--inline">
      <li><a class="button button--with-icon" target="_blank" href="{{ tweet_url }}">
        <i class="icon pricon-twitter"></i>
        توییتر
      </a></li>
      <li><a class="button button--with-icon" target="_blank" href="{{ telegram_url }}">
        <i class="icon pricon-telegram"></i>
        تلگرام
      </a></li>
    </ul>
  </div>
  {% include emojiparser.html %}
  {% include disqus.html %}
</article>
